<html>

<head>
    <title>Is that a troll?</title>
</head>

<body>
    
    <div class="container">

        <form id="tweet-form">
            <div class="form-group">
                <label>Tweet Link
                    <input class="form-control" type="url" id="tweet-link">
                </label>
            </div>

            <div class="form-group">
                <button type="submit" id="tweet-form-bttn" class="btn btn-primary">Troll?</button>
            </div>
        </form> 

        <div id="embed-tweet"></div>
        <div id="label"></div>
    
    </div>

        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="/static/trolling.js"></script>

</body>

</html>