{% extends 'base.html' %}

{% block body %}
    <div class="container">

        <form id="tweet-form">
            <div class="form-group">
                <h2>Tweet Link
                    <input class="form-control" type="url" id="tweet-link">
                </h2>
            </div>

            <div id="embed-tweet"></div>

            <div class="form-group">
                <button type="submit" id="tweet-form-bttn" class="btn btn-primary">Troll?</button>
            </div>
        </form> 

        <div><h4 id="label"></h4></div>
    
    </div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/static/trolling.js"></script>
{% endblock %}