{% extends 'base.html' %}

{% block body %}
<div class="sign-in">
     <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
        <main role="main" class="inner-cover text-center">
            <h1 class="cover-heading">Is that a troll tweet?</h1>
            <p class="lead">Use TrolliAm to test it.</p>
            <form class="lead" action="/authorize">
                <button type="submit" class="btn btn-primary btn-lg">Sign in with Twitter</button>
            </form>
        </main>
    </div>
</div>
{% endblock %}